@use './reset.scss';
@use './input.scss';
@use './buttons.scss';
@use './sidebar.scss';
@use './tables.scss';
@use './pagination.scss';
@use './sweetalert_custom.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --scroll-bar-color: hsl(var(--p, '#d9d9d9') / 0.4);
  --scroll-bar-hover-color: hsl(var(--p, '#ffffff') / 0.8);
} */

@layer base {
  :root {
    --scroll-bar-color: --bg-breadcrumbs;
    --scroll-bar-hover-color: hsl(var(--s));
    --text-all: hsl(var(--bc) / var(--tw-text-opacity, 1));
    --text-all-hover: hsl(var(--pc) / var(--tw-text-opacity));
    --text-size: 14px;
    /* ... */
  }
}

body {
  color: rgb(var(--bg-color));
}

.layout {
  height: 100vh;
  width: 100vw;
}

.login-bg {
  background-color: var(--login-bg);
}

.bg-login-size {
  width: 100%; 
  height:  100%;
  object-fit: contain;
  //font-size: clamp(10vw, 30vw, 40vw);
}

.bg-main {
  background-color: var(--bg-color);
}

.side-menu {
  &:hover,
  &:active,
  &:focus,
  &:focus-visible {
    @apply bg-primary bg-opacity-20 text-primary fill-primary outline-none #{!important};
  }
}

.custom-menu {
  position: relative;
}

.navbar-custom {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}

.sidebar-custom {
  padding-right: 0;
  height: 100%;
  background-color: var(--bg-color);

  .menu {
    background-color: var(--bg-color);

    li {
      &:hover {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
      a {
        width: 100%;

        &:hover,
        &:focus {
          background-color: unset;
        }
      }
    }
  }

  .active {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: var(--active-menu);
    color: var(--text);

    span {
      color: var(--text);
    }
  }
}

.force-light-background {
  .react-tailwindcss-datepicker-popup { // ลองกำหนด Style ให้กับ Class นี้โดยตรง
    background-color: white !important;
  }
}