.swal2-icon.swal2-question {
  border-color: #f4a526 !important;

  .swal2-icon-content {
    color: #f4a526 !important;
  }
}

.swal2-icon {
  /* width: 3em;
  height: 3em; */
  /* .swal2-icon-content {
    font-size: 2em;
  } */
}

.swal2-container {
  z-index: 10000;
}
